<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/cssReset.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/styles/loginStyle.css">
    <link rel="stylesheet" href="/styles/footerStyle.css">
    <link rel="stylesheet" href="/styles/headerStyle.css">

    <title>Login - Texteditor</title>
</head>
<body>
    <main>
        <div id="container">

            <!-- Header -->
            <header>
                <p>Login - Texteditor</p>
            </header>

            <!-- Form -->
            <div id="formDiv">
                <form action="/users/login" method="post" id="form">
                    <div class="formContainer">
                        <label for="username">Benutzername</label>
                        <input type="text" name="username" id="username" required>
                    </div>
                    <div class="formContainer">
                        <label for="password">Passwort</label>
                        <input type="password" name="password" id="password" required>
                    </div>

                    <div id="registerDiv">
                        <p>Noch kein Konto?</p>
                        <a href="/signup">Registrieren</a>
                    </div>

                    <div id="buttonDiv">
                        <input type="submit" class="formBtn" value="Anmelden">
                        <input type="reset" class="formBtn" value="Zurücksetzen">
                    </div>
                </form>
            </div>

            <!-- Footer -->
            <%- include('./partials/footer'); -%>
        </div>
    </main>
</body>
</html>