<!DOCTYPE html>
<html lang="de">
<head>
    <%- include('../partials/loginHead'); -%>
</head>
<body>
    <main>
        <div id="container">
            <!-- Header -->
            <%- include('../partials/loginHeader'); -%>


            <!-- Form -->
            <%- include('../partials/loginForm'); -%>

            <!-- Footer -->
            <%- include('../partials/footer'); -%>
        </div>
    </main>
</body>
</html>