<!DOCTYPE html>
<html lang="de">
<head>
    <%- include('../partials/signupHead'); -%>
</head>
<body>
    <main>
        <div id="container">
            <!-- Header -->
            <%- include('../partials/signupHeader'); -%>

            <!-- Form -->
            <%- include('../partials/signupForm'); -%>

            <!-- Footer -->
            <%- include('../partials/footer'); -%>
        </div>
    </main>
</body>
</html>