<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/cssReset.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/styles/footerStyle.css">
    <link rel="stylesheet" href="/styles/headerStyle.css">
    <link rel="stylesheet" href="/styles/signupStyle.css">

    <title>Signup - Texteditor</title>
</head>
<body>
    <main id="main">
        <div id="container" class="container">
            <!-- Header -->
            <header>
                <p>Signup - Texteditor</p>
            </header>

            <!-- Form -->
            <div id="formDiv">
                <form action="/users/signup" method="post" id="form">
                    
                    <div class="formContainer">
                        <label for="username">Benutzername</label>
                        <input type="text" name="username" id="username" required>
                    </div>

                    <div class="formContainer">
                        <label for="password">Passwort</label>
                        <input type="password" name="password" id="password" required>
                    </div>

                    <div class="formContainer">
                        <label for="passwordConfirm">Passwort bestätigen</label>
                        <input type="password" name="passwordConfirm" id="passwordConfirm" required>
                    </div>

                    <div id="registerDiv">
                        <p>Bereits ein Konto?</p>
                        <a href="/" id="loginLink" class="loginLinkClass">Anmelden</a>
                    </div>

                    <div id="errorDiv">
                        <p id="errMsg"></p>
                    </div>

                    <div id="buttonDiv">
                        <input type="submit" class="formBtn" id="signupBtn" value="Registrieren">
                        <input type="reset" class="formBtn" id="resetBtn" value="Zurücksetzen">
                    </div>
                </form>
            </div>

            <!-- Footer -->
            <%- include('../partials/footer'); -%>
        </div>

         <button id="themeSwitch" class="themeSwitchBtn" onclick="switchTheme()"><i class="material-icons themeSwitchIconClass" id="themeSwitchIcon" >sunny</i></button>
    </main>
    <script>
        function switchTheme() {
            var background = document.getElementById('main');
            background.classList.toggle('background-dark-mode');

            var container = document.getElementById('container');
            container.classList.toggle('container-dark-mode');

            var a = document.getElementById('loginLink');
            a.classList.toggle('a-dark-mode');

            // Form Buttons
            var signupBtn = document.getElementById('signupBtn');
            signupBtn.classList.toggle('formBtn-dark-mode');

            var resetBtn = document.getElementById('resetBtn');
            resetBtn.classList.toggle('formBtn-dark-mode');

            // Theme Switch Button
            var themeSwitchBtn = document.getElementById('themeSwitch');
            themeSwitchBtn.classList.toggle('themeSwitch-dark-mode');

            var themeSwitchIcon = document.getElementById('themeSwitchIcon');
            themeSwitchIcon.classList.toggle('themeSwitchIcon-dark-mode');
        }

        // const form = document.getElementById('form').addEventListener("submit", async (e) => {
        //     e.preventDefault();

        //     const username = document.getElementById('username').value;
        //     const password = document.getElementById('password').value;
        //     const passwordConfirm = document.getElementById('passwordConfirm').value;

        //     const errMsg = document.getElementById('errMsg');

        //     try {

        //         if(username.length < 4) {
        //             errMsg.innerHTML = "Der Benutzername muss mindestens 4 Zeichen beinhalten!";
        //             return;
        //         }

        //         if(password.length < 8) {
        //            errMsg.innerHTML = "Das Password muss mindestens 8 Zeichen beinhalten!";
        //            return;
        //         }

        //         if(password != passwordConfirm) {
        //            errMsg.innerHTML = "Passwörter stimmen nicht überein!";
        //            return;
        //         }

        //     } catch (e) {
        //         alert('SUBMIT FEHLER #01: ' + e);
        //     }


        // });
    </script>
</body>
</html>