<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/cssReset.css">
    <link rel="stylesheet" href="/styles/editorStyle.css">
    <title>Text Editor</title>
</head>
<body>
    <main>
        <header>
            <div id="headerButtonDiv">
        
                <div class="dropdown">
                    <button class="headerButton">Datei</button>
                
                    <div class="dropdownContent">
                        <button>Datei speichern</button>
                        <input type="file" >
                        <button>Beenden</button>
                    </div>
                </div>
        
                <div class="dropdown">
                    <button class="headerButton">...</button>
                
                    <div class="dropdownContent">
                        <button>...</button>
                        <button>...</button>
                        <button>...</button>
                    </div>
                </div>

                <div class="dropdown">
                    <button class="headerButton">...</button>
                
                    <div class="dropdownContent">
                        <button>...</button>
                        <button>...</button>
                        <button>...</button>
                    </div>
                </div>

            </div>
        </header>
    
        <!-- Text Area -->
        <textarea>

        </textarea>
    </main>
</body>
</html>