<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/cssReset.css">
    <link rel="stylesheet" href="/styles/editorStyle.css">
    <title>Text Editor</title>
</head>
<body>
    <main>
        <header>
            <div id="headerButtonDiv">
        
                <div class="dropdown">
                    <button class="headerButton">Datei</button>
                
                    <div class="dropdownContent">
                        <button onclick="saveFile()">Datei speichern</button>
                        <button onclick="document.getElementById('fileInput').click()">Datei öffnen </button>
                        <input type="file" id="fileInput" style="display: none;" onchange="loadFile(event)">
                        <button>Beenden</button>
                    </div>
                </div>
        
                <div class="dropdown">
                    <button class="headerButton">...</button>
                
                    <div class="dropdownContent">
                        <button>...</button>
                        <button>...</button>
                        <button>...</button>
                    </div>
                </div>

                <div class="dropdown">
                    <button class="headerButton">...</button>
                
                    <div class="dropdownContent">
                        <button>...</button>
                        <button>...</button>
                        <button>...</button>
                    </div>
                </div>

            </div>
        </header>
    
        <!-- Text Area -->
        <textarea id="editor">

        </textarea>
    </main>
    
    <script>
        function saveFile() {
            const content = document.getElementById('editor').value;
            const filename = prompt("Dateiname (mit .txt) eingeben:", "dokument.txt");
            if(!filename) 
                return;

            const link = document.createElement("a");
            link.download = filename;

            const blob = new Blob([content], { type: "text/plain" });
            link.href = URL.createObjectURL(blob);
            link.click();
            URL.revokeObjectURL(link.href);
        }

        function loadFile(event) {
            const file = event.target.files[0];
            if(!file) return;

            const reader = new FileReader();
            reader.onload = function (e) {
                document.getElementById('editor').value = e.target.result;
            };
            reader.readAsText(file);
        }

    </script>
</body>
</html>