<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/cssReset.css">
    <link rel="stylesheet" href="/styles/editorStyle.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title>Text Editor</title>
</head>
<body>
    <main class="main" id="main">
        <header id="header">
            
            <div class="dropdown">
                <button class="headerButton" id="fileHeaderButton">Datei</button>
            
                <div class="dropdownContent">
                    <button id="openFileBtn">Öffnen</button>
                    <button id="saveFileBtn">Speichern</button>
                    <button id="saveFileAsBtn">Speichern unter</button>
                    <!-- <button id="closeFileBtn">Schließen</button> -->
                </div>
            </div>

            <div class="dropdown">
                <button class="headerButton" id="tabHeaderButton">Tab</button>
            
                <div class="dropdownContent">
                    <button id="newTabBtn">Neuer Tab</button>
                    <button id="closeLastTabBtn">letzten Tab schließen</button>
                </div>
            </div>
        
            <div class="dropdown">
                <button class="headerButton" id="formatHeaderButton">Format</button>
            
                <div class="dropdownContent" id="formatDropdown">
                    <button id="lineBreakBtn">Zeilenumbruch <span class="checkmark" id="checkmark">✓</span></button>
                </div>
            </div>

            <div class="dropdown" >
                <button class="headerButton" id="viewHeaderButton">Ansicht</button>
            
                <div class="dropdownContent" id="viewDropdown">
                    <button id="editorThemeSwitchBtn">Dark / White Mode</button>
                </div>
            </div>

            <div class="dropdown">
                <button class="headerButton" id="userHeaderButton">User</button>
            
                <div class="dropdownContent" id="userDropdown">
                    <p id="usernameDisplay"></p>
                    <button id="logoutBtn" >Logout</button>
                </div>
            </div>
        </header>

        <!-- Quick Selection Bar -->
        <div class="qSBar" id="quickSelectionBar">

            <!-- Quick Selection -->
            <section class="qSSection" id="qSSection">
            
                <!-- Font Selection -->
                <div class="qSDiv" id="qSFontDiv">
                    <div class="qSHeaderDiv">
                        
                        <select name="fontFamily" id="fontFamilySelection" class="comboBox" title="Schriftart wählen">
                            <option value="arial" selected id="arial">Arial, Helvetica, sans-serif</option>
                            <option value="courierNew" id="courierNew">Courier New, Courier, monospace</option>
                            <option value="timesNewRoman" id="timesNewRoman">Times New Roman, Times, serif</option>
                        </select>

                        <div id="selectable-Div" class="comboBox">
                            <input type="number" id="sizeInput" value=""/>
                            <select name="fontSize" id="fontSizeSelection" class="comboBox" title="Schriftgröße wählen">
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="14" selected>14</option>
                                <option value="16">16</option>
                                <option value="18">18</option>
                                <option value="20">20</option>
                                <option value="22">22</option>
                                <option value="24">24</option>
                                <option value="26">26</option>
                                <option value="28">28</option>
                                <option value="36">36</option>
                                <option value="48">48</option>
                                <option value="72">72</option>
                            </select>
                        </div>

                        <div class="small-vertical-line"></div>

                        <button class="qSHeaderBtn fontBold" id="fontBoldBtn" title="Fett (STRG + ALT + F)">F</button>
                        <button class="qSHeaderBtn" id="fontItalicBtn" title="Kursiv (STRG + ALT + K)">K</button>
                        <button class="qSHeaderBtn" id="fontUnderlinedBtn" title="Unterstreichen (STRG + ALT + U)">U</button>
                        <button class="qSHeaderBtn" id="fontCrossedBtn" title="Durchstreichen">ab</button>
                        
                        <div class="small-vertical-line"></div>
                    </div>

                    <footer class="qSFooterDiv">
                        <p>Schriftart</p>
                    </footer>
                </div>

                <div class="big-vertical-line"></div>

                <!-- Tab Selection -->
                <div class="qSDiv" id="qSTabDiv">
                    <div class="qSHeaderDiv" id="qSTabHeaderDiv">
                        <button class="material-icons qSHeaderBtn" title="Neuen Tab erstellen" id="qSAddTabBtn">add</button>
                        <!-- <button class="material-icons qSHeaderBtn" title="Zuletzt geöffnetes Tab schließen" id="qSCloseTabBtn">close</button> -->
                    </div>
                    <footer class="qSFooterDiv">
                        <p>Tabs</p>
                    </footer>
                </div>

                <div class="big-vertical-line"></div>

                <!-- View Selection -->
                <div class="qSDiv" id="qSViewDiv">
                    <button class="qSBigBtn material-icons" title="Ansichts Modus wechseln (STRG + ALT + A)" id="qSThemeSwitchBtn">bedtime</button> 
                </div>

                <div class="big-vertical-line"></div>

                <!-- User Selection -->
                <div class="qSDiv" id="qSUserDiv">
                    <button class="qSBigBtn material-icons" title="Ausloggen"  id="qSLogoutBtn">logout</button>
                </div>
                <div class="big-vertical-line"></div>
            </section>
        </div>

        <!-- Tab Bar -->
        <div class="tabBar" id="tabBar"></div>

        <!-- Text Area -->
        <div id="editor" contenteditable="true" ></div>

        <footer class="footer" id="footer">
            <div class="footerDiv">
                <span id="words"></span>
            </div>
            <div class="footerDiv">
                <span>Zeile: </span>
            </div>
            <div class="footerDiv">
                <span>Spalte: </span>
            </div>
            <div class="zoomDiv">
                <span class="material-icons">search</span>
                <!-- <input type="number" id="zoomInput" oninput="changeZoom()" value="100"></input> -->
                <p>-</p>
                <input type="range" id="zoomInput" name="zoom" min="0" max="250" step="10" value="100">
                <p>+</p>
                <output id="zoomOutput"></output>
            </div>
        </footer>
    </main>

    <script type="text/javascript" src="/js/view.js" defer></script>
    <script type="text/javascript" src="/js/user.js" defer></script>
    <script type="text/javascript" src="/js/footer.js" defer></script>
    <script type="text/javascript" src="/js/formats.js" defer></script>

    <script type="text/javascript" src="/js/keybinds.js" defer></script>
   
    <script type="text/javascript" src="/js/files_tabs.js" defer></script>
</body>
</html>