.main {
    width: 100%;
    height: 100%;
}

/* Header Style */

header {
    display: flex;
    height: 3%;
    background-color: lightgrey;
    border-bottom: 1px solid grey;
    transition: all 0.25s;
}

.headerButton {
    width: 70px;
    height: 100%;
    border: none;
    background-color: lightgrey;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: all 0.25s;
}

.headerButton:hover {
    background-color: rgb(122, 194, 228);
    transition: all 0.25s;
}

.dropdown {
    position: relative;
    display: inline-block;
    height: 100%;
}

/* Dropdown Style */

.dropdownContent {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdownContent button {
    color: black;
    text-decoration: none;
    display: block;
    border: none;
    width: 100%;
    height: 30px;
    transition: all 0.25s
}

.dropdownContent button:hover {
    background-color: #ddd;
    transition: all 0.25s;
}

.dropdown:hover .dropdownContent {
    display: block;
    z-index: 1;
}

.dropdownContent p {
    color: black;
    display: flex;
    width: 100%;
    height: 30px;
    justify-content: center;
    align-items: center;
    font-size: small;
}

#lineBreakBtn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 16px;
}

.checkmark {
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.2s ease; 
}

.checkmarkclicked {
    opacity: 1;
    overflow-x: auto;
}

/* Selection Bar Style*/

.qSBar {
    height: 6%;
}

.qSSection {
    width: 100%;
    height: 100%;
    border-bottom: 1px solid black;
    transition: all 0.25s;
}

.qSDiv {
    float: left;
}

.qSHeaderDiv {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50%;
    padding-top: 5px;
}

.qSHeaderBtn {
    width: 1.5rem;
    height: 100%;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: all 0.25s;
}

.qSHeaderBtn:hover {
    background-color: lightgray;
    transition: all 0.25s;
}

.toggleActive {
    background-color: gray;
    color: #ddd;
}

.qSBigBtn {
    width: 15%;
    height: 80%;
    margin-left: 5px;
    margin-top: 5px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: transparent;
    transition: all 0.25s;
}

.qSBigBtn:hover {
    background-color: lightgray;
    transition: all 0.25s;
}

.small-vertical-line {
    display: inline-block;
    height: 70%;
    width: 2px;
    background-color: grey;
    margin: 0px 10px;
}

.big-vertical-line {
    float: left;
    height: 90%;
    width: 2px;
    background-color: grey;
    margin: 3px 10px;
}

.comboBox {
    border: 1px solid black;
    outline: none;
    border-radius: 5px;
    background-color: transparent;
} 

.qSFooterDiv {
    display: flex;
    width: 100%;
    height: 50%;
    justify-content: center;
    align-items: center;
}

.qSFooterDiv p {
    font-size: 14px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



/* Selection Style */

#qSFileDiv {
    width: 6%;
    height: 100%;
    padding-left: 5px;
    transition: all 0.25s;
}

#qSFileHeaderDiv {
    justify-content: space-between;
}

.qSFileBtns {
    width: 1.75rem;
    font-size: 14px;
    color: purple;
}

#qSOpenFileBtn {
    margin-left: 5px;
}

#qSSaveFileAsBtn {
    margin-right: 5px;
}

#qSFontDiv {
    width: 20%;
    height: 100%;
    padding-left: 5px;
    transition: all 0.25s;
}

#fontFamilySelection {
    width: 30%;
    margin-right: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#arial {
    font-family: Arial, Helvetica, sans-serif;
}

#courierNew {
    font-family: 'Courier New', Courier, monospace;
}

#timesNewRoman {
    font-family: 'Times New Roman', Times, serif;
}

#selectable-Div {
    position: relative;
    width: 70px;
    height: 90%;
}

#selectable-Div input {
    position: absolute;
    top: 0px; 
    left: 2px;
    width: 50px;
    border: none;
    outline: none;
    padding: 1px;
    text-align: center;
}

#fontSizeSelection {
    position: absolute;
    top: 0px; 
    right: 0px;
    width: 20px;
    border: none;
}

#sizeInput {
    background-color: transparent;
}

.fontBold {
    font-weight: bold;
}

#fontItalicBtn {
    font-style: italic;
}

#fontUnderlinedBtn {
    text-decoration: underline;
}

#fontCrossedBtn {
    text-decoration: line-through;
}

#qSTabDiv {
    width: 5%;
    height: 100%;
}

#qSTabHeaderDiv {
    align-items: center;
    justify-content: center;
}

#qSViewDiv {
    width: 3%;
    height: 100%;
}

#qSThemeSwitchBtn {
    width: 85%;
}

#qSUserDiv {
    width: 3%;
    height: 100%;
}

#qSLogoutBtn {
    width: 85%;
}

/* Tab Style */

.tabBar {
    width: 100%;
    height: 4%;
    border-bottom: 1px solid black;
    transition: all 0.25s;
}

.tab {
    float: left;
    position: relative;
    width: 10%;
    height: 80%;
    margin-left: 10px;
    margin-top: 7px;
    border: 1px solid black;
    border-bottom: 0px;
    border-radius: 10px 10px 0px 0px;
    background-color: lightgray;
    padding-right: 10px;
    transition: all 0.25s;
}

.tabBtn {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    border-radius: 10px 10px 0px 0px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    transition: all 0.25s;
}

.tabBtn:hover {
    background-color: rgb(185, 182, 182);
    transition: all 0.25s;
}

.tabActive {
    background-color: rgb(158, 157, 157);
    transition: all 0.25s;
}

.closeTabBtn{
    position: absolute;
    right: 5px;
    bottom: 5px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: none;
    background-color: transparent;
    transition: all 0.25s;
}

.closeTabBtn:hover {
    background-color: rgb(185, 182, 182);
    transition: all 0.25s;
}

.closeTabBtn:active {
    background-color: rgb(158, 157, 157);
    transition: all 0.25s;
}

/* Text Area Style*/

#editor {
    width: 100%;
    height: 84%;
    border: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding: 10px;
    transition: all 0.25s;
    outline: none;
    background-color: transparent;
    overflow-y: auto;
    overflow-x: auto;
}

/* Footer */

.footer {
    height: 3%;
    border-top: 1px solid black;
    background-color: lightgrey;
    font-family: Arial, Helvetica, sans-serif;
}

.footerDiv {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5%;
    height: 100%;
}

.zoomDiv {
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 20%;
}

.zoomDiv span {
    margin-right: 10px;
}

/* .zoomDiv p {
    height: 100%;
    font-size: 20px;
    margin-left: 5px;
} */

.footerBtn {
    height: 80%;
    width: 5%;
    border-radius: 6px;
    border: none;
    background-color: transparent;
    transition: all 0.25s;
}

.footerBtn:hover {
    background-color: rgb(185, 182, 182);
    transition: all 0.25s;
}

.zoomDiv input {
    width: 60%;
    margin-left: 3px;
}

.zoomDiv output {
    width: 10%;
    margin-left: 15px;
}

/* Dark Mode */

.main-dark-mode {
    background-color: rgb(107, 105, 105);
    transition: all 0.25s;
}


.header-dark-mode {
    background-color: rgb(63, 62, 62);
    border-bottom: 1px solid white;
    transition: all 0.25s;
}

.headerButton-dark-mode {
    background-color: rgb(63, 62, 62);
    color: white;
    transition: all 0.25s;
}


.qSBar-dark-mode {
    background-color: rgb(90, 90, 90);
    border-bottom: 1px solid white;
    transition: all 0.25s;
}

.qSDiv-dark-mode {
    color: white;
    transition: all 0.25s;
}

.qS-smallBtn-dark-mode {
    color: white;
    transition: all 0.25s;
}

.qS-smallBtn-dark-mode:hover {
    background-color: rgb(158, 157, 157);
}

.qS-bigBtn-dark-mode {
    border: 1px solid white;
    color: white;
    transition: all 0.25s;
}

.qS-bigBtn-dark-mode:hover {
    background-color: rgb(158, 157, 157);
}

.comboBox-dark-mode {
    border: 1px solid white;
    color: white;
    transition: all 0.25;
}

.comboBox-dark-mode option {
    background-color: gray;
    color: white;
}

.sizeInput-dark-mode {
    color: white;
    transition: all 0.25;
}


.tabBar-dark-mode {
    background-color: rgb(110, 110, 110);
    border-bottom: 1px solid white;
    transition: all 0.25s;
}


.editor-dark-mode {
    color: white;
    transition: all 0.25s;
}


.footer-dark-mode {
    background-color: rgb(63, 62, 62);
    border-top: 1px solid white;
    color: white;
    transition: all 0.25s;
}

.footerBtn-dark-mode {
    color: white;
    transition: all 0.25s;
}