main {
    width: 100%;
    height: 100%;
    background-color: #ddd;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: all 0.25s;
}

.container {
    position: relative;
    left: calc(100% - 65%);
    top: calc(100% - 77.5%);
    width: 30%; 
    height: 55%;
    border: 2px solid gray;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0px 16px 400px 0px rgba(255, 255, 255, 0.2);
    color: rgb(100, 100, 100);
    transition: all 0.25s;
}

#formDiv {
    height: 73%;
    margin-top: 2%;
}

form {
    height: 100%;
}

.formContainer {
    height: 22%;
}

.formContainer > label {
    display: block;
    font-size: 1.3rem;
    margin-bottom: 5px;
}

.formContainer input[type=text], .formContainer input[type=password] {
    width: 100%;
    height: 30px;
    border-radius: 8px;
    padding-left: 5px;
    font-size: 16px;
    border: 2px solid gray;
    background-color: #ddd;
    color: rgb(100, 100, 100);
    transition: all 0.25s;
}

.formContainer input[type=text]:focus,
.formContainer input[type=password]:focus {
    color: white;
    background-color: rgb(124, 121, 121);
    border: 2px solid white;
    outline: none;
    transition: all 0.25s;
}

#registerDiv {
    height: 5%;
    font-size: 18px;
}

#registerDiv > p {
    display: inline-block;
}

.loginLinkClass {
    color: gray;
    transition: all 0.25s;
}

.loginLinkClass:hover {
    color: rgb(17, 17, 17);
    transition: all 0.25s;
}

#errorDiv {
    margin: 15px 0px;
    width: 100%;
    height: 8%;
    text-align: center;

}

#errorDiv p {
    color: rgb(228, 94, 94);
    font-weight: bold;
    font-size: large;
}

#buttonDiv {
    display: flex;
    align-items: center;
    justify-content: right;
    height: 7%;
    margin-bottom: 10px;
}

.formBtn {
    width: 120px;
    height: 30px;
    margin-right: 10px;
    border-radius: 8px;
     border: 2px solid rgb(100, 100, 100);
    background-color: transparent;
    color: rgb(100, 100, 100);
    transition: all 0.25s;
}

.formBtn:hover {
    background-color: gray;
    color: white;
    transition: all 0.25s;
}

.themeSwitchBtn {
    position: absolute;
    right: 20px;
    bottom: 20px;
    height: 50px;
    width: 50px;
    border-radius: 12px;
    border: 2px solid darkgrey;
    background-color: transparent;
    transition: all 0.25s;
}

.themeSwitchBtn:hover {
    background-color: gray;
    transition: all 0.25s;
}

.themeSwitchIconClass {
    color: gray;
    transition: all 0.25s;
    width: 45px;
    height: 45px;
    padding: 10px;
}

.themeSwitchIconClass:hover {
    color: white;
    transition: all 0.25s;
}

/* Dark Theme */
.background-dark-mode {
    background-color: rgb(107, 105, 105);
    transition: all 0.25s;
}

.container-dark-mode {
    border: 2px solid white;
    color: #ddd;
    transition: all 0.25s;
}

.a-dark-mode {
    color: white;
    transition: all 0.25s;
}

.a-dark-mode:hover {
    color: rgb(185, 183, 183);
    transition: all 0.25s;
}

.themeSwitch-dark-mode {
    background-color: rgb(71, 71, 71);
    border: 2px solid white;
    transition: all 0.25s;
}

.themeSwitch-dark-mode:hover {
    background-color: #ddd;
    border: 2px solid rgb(71, 71, 71);
    transition: all 0.25s;
}

.themeSwitchIcon-dark-mode {
    color: #ddd;
    transition: all 0.25s;
} 

.themeSwitchIcon-dark-mode:hover {
    color: rgb(71, 71, 71);
    transition: all 0.25s;
}

.formBtn-dark-mode {
    background-color: rgb(71, 71, 71);
    border: 2px solid white;
    color: #ddd;
    transition: all 0.25s;
}

.formBtn-dark-mode:hover {
    background-color: #ddd;
    border: 2px solid rgb(71, 71, 71);
    color: rgb(71, 71, 71);
    transition: all 0.25s;
}